<button (click)="getAnswer()">
  Get next answer
</button>
<p>Your score: ${{ score }}</p>

<!-- Only display all of this when there is a
     value in answer in the component. -->
<div *ngIf="answer">
  <h1>{{ answer.category.title }}</h1>
  <p>{{ answer.question }}</p>
  <p>This is worth ${{ answer.value }}</p>
  <div>
    <input type="text"
           placeholder="answer here"
           [(ngModel)]="userReply">
    <button (click)="checkReply()">Check answer</button>
  </div>
  <div *ngIf="hint">The answer may be "{{ hint }}"</div>
</div>
